<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eam.mapper.DepreciationMapper">
  <resultMap id="BaseResultMap" type="com.example.eam.domain.Depreciation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="depreciation_id" jdbcType="BIGINT" property="depreciationId" />
    <result column="assets_id" jdbcType="BIGINT" property="assetsId" />
    <result column="depreciation_way_id" jdbcType="BIGINT" property="depreciationWayId" />
    <result column="depreciation_time" jdbcType="DATE" property="depreciationTime" />
    <result column="accumulated_depreciation" jdbcType="DOUBLE" property="accumulatedDepreciation" />
    <result column="sell_id" jdbcType="BIGINT" property="sellId" />
    <result column="currrent_depreciation" jdbcType="DOUBLE" property="currrentDepreciation" />
    <result column="net_salvage" jdbcType="DOUBLE" property="netSalvage" />
    <result column="net_value" jdbcType="DOUBLE" property="netValue" />
  </resultMap>
</mapper>