<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eam.mapper.LendReturnMapper">
  <resultMap id="BaseResultMap" type="com.example.eam.domain.LendReturn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lend_id" jdbcType="BIGINT" property="lendId" />
    <result column="lend_time" jdbcType="TIMESTAMP" property="lendTime" />
    <result column="expect_return_time" jdbcType="DATE" property="expectReturnTime" />
    <result column="real_return_time" jdbcType="TIMESTAMP" property="realReturnTime" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="last_deal_id" jdbcType="BIGINT" property="lastDealId" />
    <result column="assets_id" jdbcType="BIGINT" property="assetsId" />
    <result column="lend_return_type" jdbcType="INTEGER" property="lendReturnType" />
  </resultMap>
</mapper>