<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eam.mapper.LimitMapper">
  <resultMap id="BaseResultMap" type="com.example.eam.domain.Limit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="limit_id" jdbcType="BIGINT" property="limitId" />
    <result column="limit_type" jdbcType="INTEGER" property="limitType" />
    <result column="limit_remarks" jdbcType="VARCHAR" property="limitRemarks" />
  </resultMap>
</mapper>