<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eam.mapper.LoginMapper">
  <resultMap id="BaseResultMap" type="com.example.eam.domain.Login">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="login_id" jdbcType="BIGINT" property="loginId" />
    <result column="eid" jdbcType="BIGINT" property="eid" />
    <result column="login_employee_id" jdbcType="BIGINT" property="loginEmployeeId" />
    <result column="login_employee_password" jdbcType="VARCHAR" property="loginEmployeePassword" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="login_num" jdbcType="INTEGER" property="loginNum" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
</mapper>