<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eam.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.example.eam.domain.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_status" jdbcType="BIT" property="roleStatus" />
    <result column="role_remarks" jdbcType="VARCHAR" property="roleRemarks" />
    <result column="limit_id" jdbcType="BIGINT" property="limitId" />
  </resultMap>
</mapper>