<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eam.mapper.SellMapper">
  <resultMap id="BaseResultMap" type="com.example.eam.domain.Sell">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sell_id" jdbcType="BIGINT" property="sellId" />
    <result column="assets_id" jdbcType="BIGINT" property="assetsId" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <result column="last_deal_id" jdbcType="BIGINT" property="lastDealId" />
    <result column="sell_value" jdbcType="DOUBLE" property="sellValue" />
    <result column="sell_time" jdbcType="DATE" property="sellTime" />
  </resultMap>
</mapper>